name: Publicar Diapositivas
on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Renderizar y Publicar
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages  # Esto crea una rama especial para la web
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}